*{
 margin: 0px;
 padding: 0px;
}
body{
 height: 12em;
 font-family: arial;
}
.main{
 margin: 12%;
}

.card{
     width: 240px;
	 height: 380px;
	 background-colorcolor: white;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
	 
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  

 
 }

.title{
 
  text-align: center;
  padding: 10px;
  
 }

h1{
	font-family: sans-serif; 
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
  color:black;
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  flex: 1 1 auto;
  font-size:12px;
  margin: 30px;
  padding: 1px;
  text-align: left;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 10px;
   background-image: linear-gradient(to right, #0092d0 0%, #F5FFFA 51%, pink 100%);
}
button:hover{
  background-position: right center; 
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}


.animatedFadeInUp {
    opacity: 0
}


.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
*{
    box-sizing: border-box;
}
body{
    background-color: white;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.parallax{
	height: 50px;
	background-image:"";
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header {
	background-color: black;
    color: #d4e0ef;
    cursor: default;
    height: 7.25em;
    left: 5;
	right: 20px;
    line-height: 3.25em;
    position: absolute;
    text-align: right;
    top: 0em;
    width: 100%;
    z-index: 10001;
  }
  #header1 {
	background-color: #0092d0;
    color: #d4e0ef;
    cursor: default;
    height: 12.25em;
    line-height: 3em;
    position: absolute;
    text-align: center;
    top: 7.25em;
    width: 100%;
    z-index: 10001;
  }
  #header1 .inner {
  margin: 0 auto;
  color: white;
  font-family: HighlightText;
  font-size: 20px;
  position: relative;
  padding-top: 10px;
}
  #header .inner {
    margin: 30px;
	left:200px;
    position: relative;
  }
  
  a{
    vertical-align: baseline;
  }
  
  #header a {
	  
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
  }
  
  #header a:hover {
    color: #ffffff;
  }
  
  #header a:last-child {
    padding-right: 0;
  }
  
  #header a.navPanelToggle {
    display: none;
    text-decoration: none;
    height: 4em;
    width: 4em;
    z-index: 10003;
  }
  
  #header a.navPanelToggle .fa {
    font-size: 1.25em;
  }
  
  @media screen and (max-width: 980px) {
    #header a.navPanelToggle {
      display: inline-block;
    }
  }
  
  @media screen and (max-width: 736px) {
    #header a {
      padding: 0 0.5em;
    }
  }
  
  @media screen and (max-width: 980px) {
    #header {
      top: 3em;
      height: 44px;
      line-height: 44px;
    }
  }
  
  @media screen and (max-width: 736px) {
    #header {
      top: 2em;
    }
  }
  
  @media screen and (max-width: 480px) {
    #header {
      top: 1em;
      min-width: 320px;
    }
  }
  
  /* Nav */
  
  @media screen and (max-width: 980px) {
    #nav {
      display: none;
    }
  }
  
  #navPanel {
    -moz-transform: translatex(20em);
    -webkit-transform: translatex(20em);
    -ms-transform: translatex(20em);
    transform: translatex(20em);
    -moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    background: #5385c1;
    color: #d4e0ef;
    height: 100%;
    max-width: 80%;
    width: 20em;
    padding: 0.5em 1.25em;
    z-index: 10003;
  }
  
  #navPanel.visible {
    -moz-transform: translatex(0);
    -webkit-transform: translatex(0);
    -ms-transform: translatex(0);
    transform: translatex(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
  }
  
  #navPanel a:not(.close) {
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    color: #d4e0ef;
    font-weight: 600;
    display: block;
    padding: 0.75em 0;
    text-decoration: none;
    font-weight: 300;
  }
  
  #navPanel a:not(.close):first-child {
    border: none;
  }
  
  #navPanel .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #d4e0ef;
    cursor: pointer;
    display: block;
    height: 4em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 5em;
  }
  
  #navPanel .close:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    content: "\f00d";
    width: 3em;
    height: 3em;
    line-height: 5 em;
    display: block;
    position: absolute;
    right: 40px;
    top: 0;
    text-align: center;
  }
  
  #navPanel .close:hover {
    color: inherit;
  }
  .inner {
    max-width: 75em;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1280px) {
    .inner {
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .inner {
      max-width: 85%;
    }
  }
  #header .logo {
    display: inline-block;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    
  }
  .inner .logo img {
    /* width: 250px; */
    /* width: 100%;
    height: 100%; */
    width: 194px;
    /* width: 70%; */
    /* height: 70%; */
    /* padding-top: 25px; */
    /* -webkit-filter: drop-shadow(5px 5px 5px #140549); */
    /* filter: drop-shadow(5px 5px 5px #140549); */
    -webkit-shadow: 12px 13px 4px 3px rgba(21, 57, 94, 1);
    -moz-shadow: 12px 13px 4px 3px rgba(21, 57, 94, 1);
    filter: drop-shadow(3px 3px 6px #2768b1);
  }
#nav{
    font-size: 1.5em;
}  
nav{
    display: block;
}
nav{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
#header a{
    transition: color 0.2s ease-in-out;
    display: inherit-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    font-size: 0.8em;
}
#header a.navPanelToggle{
    display: none;
    text-decoration: none;
    height: 4em;
    width: 4em;
    z-index: 10003;
}
.inner .logo img{
    width: 194px;
	vertical-align: baseline;
    position: absolute;
    filter: drop-shadow(3px 3px 6px #2768b1);
}


#omkar-test{
    height: 90vh;
}







/* FOOTER PROPERTIES () */
.footer_area {
  
  color: #fff;
  background-color: #151515;
  padding: 30px 30px 30px 30px;
  margin: 0 -15px -30px -15px;
  
}

.col-lg-3 {
margin-left: 100px;
}

#header .logo {
  display: inline-block;
  left: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  
}

.lovetext {
  justify-content: left;
  text-align: left;
  
}
