/*! CSS Used from: http://127.0.0.1:5500/assets/css/main.css */
/*! @import http://127.0.0.1:5500/assets/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-bars:before{content:"\f0c9";}
/*! end @import */
div,span,a,img,header,nav{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
header,nav{display:block;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
a{color:#5385c1;text-decoration:underline;}
a:hover{text-decoration:none;}
.inner{max-width:75em;margin:0 auto;}
@media screen and (max-width: 1280px){
.inner{max-width:90%;}
}
@media screen and (max-width: 480px){
.inner{max-width:85%;}
}
::-webkit-input-placeholder{color:#bbb!important;opacity:1;}
:-moz-placeholder{color:#bbb!important;opacity:1;}
::-moz-placeholder{color:#bbb!important;opacity:1;}
:-ms-input-placeholder{color:#bbb!important;opacity:1;}
#header{color:#d4e0ef;cursor:default;height:3.25em;left:0;line-height:3.25em;position:absolute;text-align:right;top:4em;width:100%;z-index:10001;}
#header .inner{margin:0 auto;position:relative;}
#header a{-moz-transition:color 0.2s ease-in-out;-webkit-transition:color 0.2s ease-in-out;-ms-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out;display:inline-block;padding:0 0.75em;color:inherit;text-decoration:none;font-size:0.8em;font-weight:200;}
#header a:hover{color:#ffffff;}
#header a:last-child{padding-right:0;}
#header a.navPanelToggle{display:none;text-decoration:none;height:4em;width:4em;z-index:10003;}
#header a.navPanelToggle .fa{font-size:1.25em;}
@media screen and (max-width: 980px){
#header a.navPanelToggle{display:inline-block;}
}
@media screen and (max-width: 736px){
#header a{padding:0 0.5em;}
}
@media screen and (max-width: 980px){
#header{top:3em;height:44px;line-height:44px;}
}
@media screen and (max-width: 736px){
#header{top:2em;}
}
@media screen and (max-width: 480px){
#header{top:1em;min-width:320px;}
}
@media screen and (max-width: 980px){
#nav{display:none;}
}
#nav{font-size:1.5em;}
.inner .logo img{width:194px;position:absolute;-webkit-shadow:12px 13px 4px 3px rgba(21, 57, 94, 1);-moz-shadow:12px 13px 4px 3px rgba(21, 57, 94, 1);filter:drop-shadow(3px 3px 6px #2768b1);}
#header .logo{display:inline-block;left:0;margin:0;padding:0;position:absolute;top:0px;}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.eot?v=4.6.3');src:url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.eot#iefix&v=4.6.3') format('embedded-opentype'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}



/*! CSS Used from: http://127.0.0.1:5500/assets/css/main.css */
/*! @import http://127.0.0.1:5500/assets/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-envelope-o:before{content:"\f003";}
.fa-facebook:before{content:"\f09a";}
.fa-instagram:before{content:"\f16d";}
/*! end @import */
div,h3,p,a,i,aside,footer{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
aside,footer{display:block;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.container{margin-left:auto;margin-right:auto;}
.container{width:80em;}
@media screen and (max-width: 1680px){
.container{width:80em;}
}
@media screen and (max-width: 1280px){
.container{width:65em;}
}
@media screen and (max-width: 980px){
.container{width:90%;}
}
@media screen and (max-width: 736px){
.container{width:90%!important;}
}
@media screen and (max-width: 480px){
.container{width:90%!important;}
}
.row{border-bottom:solid 1px transparent;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.row > *{float:left;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.row:after,.row:before{content:"";display:block;clear:both;height:0;}
.row > *{padding:0 0 0 2em;}
.row{margin:0 0 -1px -2em;}
@media screen and (max-width: 1680px){
.row > *{padding:0 0 0 2em;}
.row{margin:0 0 -1px -2em;}
}
@media screen and (max-width: 1280px){
.row > *{padding:0 0 0 1.5em;}
.row{margin:0 0 -1px -1.5em;}
}
@media screen and (max-width: 980px){
.row > *{padding:0 0 0 1.5em;}
.row{margin:0 0 -1px -1.5em;}
}
@media screen and (max-width: 736px){
.row > *{padding:0 0 0 1.25em;}
.row{margin:0 0 -1px -1.25em;}
}
@media screen and (max-width: 480px){
.row > *{padding:0 0 0 1.25em;}
.row{margin:0 0 -1px -1.25em;}
}
a{color:#5385c1;text-decoration:underline;}
a:hover{text-decoration:none;}
i{font-style:italic;}
p{margin:0 0 2em 0;}
h3{color:#5385c1;font-weight:300;line-height:1.5;margin:0 0 1em 0;}
h3{font-size:1.35em;}
::-webkit-input-placeholder{color:#bbb!important;opacity:1;}
:-moz-placeholder{color:#bbb!important;opacity:1;}
::-moz-placeholder{color:#bbb!important;opacity:1;}
:-ms-input-placeholder{color:#bbb!important;opacity:1;}
.footer_area{color:#fff;background-color:#151515;padding:30px 30px 30px 30px;margin:0 -15px -30px -15px;}
.col-lg-3{margin-left:auto;}
.lovetext{justify-content:left;text-align:left;}
/*! CSS Used from: http://127.0.0.1:5500/assets/css/teamstyle.css */
/*! @import https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-envelope-o:before{content:"\f003";}
.fa-facebook:before{content:"\f09a";}
.fa-instagram:before{content:"\f16d";}
/*! end @import */
*{box-sizing:border-box;}
.row{display:flex;flex-wrap:wrap;}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.eot?v=4.6.3');src:url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.eot#iefix&v=4.6.3') format('embedded-opentype'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'),url('http://127.0.0.1:5500/assets/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'FontAwesome';src:url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}



.container#omkar-test{
    height: 90vh;
}