@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{
	margin:0;
	padding: 0;
	background: rgb(0,170,255);
	background: linear-gradient(90deg, rgba(0,170,255,0.9363095580028886) 0%, rgba(0,146,208,0.9363095580028886) 36%, rgba(39,104,177,0.950315160243785) 77%);
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
*{
	box-sizing: border-box;
}

#particles-js canvas {
    display: block;
	vertical-align: bottom;
	
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.team-section{
	
	min-height: 100vh;
	padding:70px 15px 30px;
}
section#team-header{
	position: relative;
	width: 100%;
	height: 75vh;
	/* background: black; */
	/* opacity: 37%; */
	margin: 100px 0 0 0;
	padding-left: 0;
	padding-right: 0;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

/* @media screen and (max-width: 1680px) {
	.container.\31 25\25 {
	  width: 100%;
	  max-width: 100em;
	  min-width: 80em;
	}
  
	.container.\37 5\25 {
	  width: 60em;
	}
  
	.container.\35 0\25 {
	  width: 40em;
	}
  
	.container.\32 5\25 {
	  width: 20em;
	}
  
	.container {
	  width: 80em;
	}
  } */
  







.section-title h1{
	animation: arriba 1s ease-in;
}
@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.section-title p{
	animation: arriba 1s ease-in;
}
.container#team{
	max-width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
	/* background-color: black; */
	/* opacity: 50%; */
}
.container#header{
	height: 600px;
}
.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin: 80px 0 80px 0;
}

.team-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color:white;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	/* background-color:#009688;  */
	background-color: #0b3b79;
	/*fallback for old browser. Last mod by OK45*/ /*card grad goes here*/
	/* background: #ff4b1f; fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2768b1, #0092d0); Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2768b1, #0092d0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	/* -webkit-box-shadow: 0px 2px 4px 11px;
    -moz-box-shadow: 0px 10px 4px 11px;
     box-shadow: 0px 10px 4px 11px; */

	
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	/* color:#009688; */
	color: black;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}

.social-links a{
padding-top: 7px;
}





























