@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{
	margin:0;
	background: rgb(0,170,255);
	background: linear-gradient(90deg, rgba(0,170,255,0.9363095580028886) 0%, rgba(0,146,208,0.9363095580028886) 36%, rgba(39,104,177,0.950315160243785) 77%);
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
*{
	box-sizing: border-box;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.team-section{
	
	min-height: 100vh;
	padding:70px 15px 30px;
}

.container{
	max-width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin: 80px 0 80px 0;
}

.team-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	background-color:#009688;
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:#ffffff;
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#c5c5c5;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color: #ffffff;
	color:#009688;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}

.social-links a{
padding-top: 7px;
}




























